<h1>Edit User</h1>
<% include ../partials/header %>
<!-- form to edit user user -->
<form action="/users/<%= curr_user._id%>/update" method="POST">

    <!-- location field -->
    <label name="title">Location</label>
    <input type="text" name="location" value=""/>
    <br/>
    <!-- handicap field -->
    <label name="title">Handicap</label>
    <input type="text" name="handicap" value=""/>
    <br/>
    <input type="submit" value="Edit">
</form>