<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/modal.css">
</head>
<body>
<!-- 	<div class="panel panel-default">
	  <div class="panel-body"> -->
<!-- 
		<a href="#close" title="Close" class="close">X</a> -->
<a href="#openModal">Log In</a>
<div id="openModal" class="modalDialog">
	<div>
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#login" data-toggle="tab">Login</a></li>
			<li role="presentation"><a href="#register" data-toggle="tab">Register</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="login">	

				<h1>Log In</h1>

				<form action="/login" method="post">
					<div class="form-group">
						<label name="title">Email</label>
						<input type="email" class="form-control" name="email" value="" placeholder="Email">
					</div>

					<div class="form-group">
						<label name="title">Password</label>
						<input type="text" class="form-control" name="password" value="" placeholder="Password">
					</div>

					<button type="submit" class="btn btn-default">Log In</button>
				</form>		
			</div>
	


			<div class="tab-pane" id="register">	

				<h1>New User</h1>

				<form action="/login" method="post">
					<div class="form-group">
						<label name="title">Email</label>
						<input type="email" class="form-control" name="email" value="" placeholder="Email">
					</div>

					<div class="form-group">
						<label name="title">Password</label>
						<input type="text" class="form-control" name="password" value="" placeholder="Password">
					</div>

					<button type="submit" class="btn btn-default">Log In</button>
				</form>	
	   		</div>		
		</div>

</div>





<!-- 	  </div>
	</div> -->

</body>
</html>

