<html>
<head>
	<title>Course</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<h1><%= course.name %></h1>
<p><%= course.location.display_address %></p>

<% include ../partials/groups %>
</body>
</html>