<html>
<head>
	<title>Golf Courses</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="../public/javascripts/app.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>

</head>
<body>

	<h1> Golf Courses </h1>

	<div id="search-container">
	    <form id="search-form">
			<p>
				<label for="search-term">Enter location: </label>
				<input type="text" name="search-term" id="search-term" value="" placeholder="Search for Golf Course" />
			</p>
			<a id="search-button" class="btn paper-raise">Search</a>
	    </form>
    </div>

    <div id="results-container">
	    <ul id="courses-container">
    	</ul>
    </div>

    <% include partials/map %>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
</html>