<html>
<head>
	<title>Golf Courses</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

	<h1> Golf Courses </h1>

	    <ul id="courses">
    	</ul>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="../../public/javascripts/app.js"></script>
</html>