<html>
<head>
	<title>Golf Courses</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="javascripts/app.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/modal.css">

</head>
<body>

	<div class="page-header">
	  <h1>LOGO <small>Courses</small></h1>
	</div>

	<a href="/new">Register</a> <% include partials/modals %>


	<h1> Golf Courses </h1>

	<div id="search-container">
	    <form action="/" method="get" id="search-form">
			<p>
				<label for="search_term">Enter location: </label>
				<input type="text" name="searchCategory" id="search_term" value="" placeholder="Search for Golf Course" />
			</p>
			<a id="search-button" class="btn paper-raise">Search</a>
	    </form>
    </div>

    <div id="results-container">
	    <ol id="courses-container">
	    	<% for (i = 0; i < courses.length; i ++) { %>
	    	<li> <a href="/courses"><%= courses[i].name %></a> <img src="<%= courses[i].rating_img_url %>"></li>

	    	<% } %>
    	</ol>
    </div>

    <% include partials/map %>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
</html>
