<html>
<head>
	<title></title>
</head>
<body>


<h1>create group</h1>

	<div>
		<% for (i = 0; i < users.length; i ++) { %>
			<%= users[i].name %> - Handicap: <%= users[i].handicap %><br/>
		<% } %>
	<div>


</body>
</html>