<html>
<head>
	<title></title>
</head>
<body>

<% if (curr_user) { %>

	<h1>logged in user: <%= curr_user.name %></h1>
	<a href="/logout">Log Out</a>
	<% } else { %>

	Login

	<% } %>

<h1>create group</h1>

<button type="submit">Join</button>

</body>
</html>