#courseInfo {
	float: right;
	text-align: left;
	width: 500px;
	margin-right: 100px;
}

.big-image {
	margin-left: 25px;
}

#groups {
	margin-left: 25px;
}

#links {
	margin-left: 25px;
	font-size: 20px;
}

#currUser {
	margin-right: 25px;
	font-size: 15px;
	text-align: right;
}

button {
	margin-left: 25px;
}