#courseInfo {
	float: right;
	text-align: left;
	width: 500px;
	margin-right: 100px;
}

.big-image {
	margin-left: 25px;
}

#groups {
	margin-left: 25px;
}

#links {
	margin-left: 25px;
}

#currUser {
	margin-left: 25px;
}
