/*.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
*/
.navbar-default {
background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-brand {
  color: #0b2931;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5d269c;
}
.navbar-default .navbar-text {
  color: #0b2931;
}
.navbar-default .navbar-nav > li > a {
  color: #0b2931;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #0b2931;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0b2931;
background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #0b2931;
background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-toggle {
  /*border-color: #ffffff;*/
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-toggle .icon-bar {
background-color: rgba(255, 255, 255, 0.3);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  /*border-color: #ecf0f1;*/
}
.navbar-default .navbar-link {
  color: #0b2931;
}
.navbar-default .navbar-link:hover {
  color: #0b2931;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

#homepage {
	background-image: url("../pictures/home.png");
/*background: url(images/bg.jpg) no-repeat center center fixed; */
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.search-box {
	/*text-align: center;*/
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  /*margin-right: auto;*/
  /*margin-left: auto;*/

}

.box {
	/*position: absolute;*/
	 width: 100px;
    padding: 10px;
    /*margin-left: 56px;*/
    /*margin: 5px;*/
    background-color: #FF6B00;

}

.location-box {
	width: 200px;
	text-align: center;
}

.navbar-collapse {
	margin-bottom: 100px;
}

.wrapper {
width: 100%;
max-width: 1100px;
min-width: 800px;
margin: 50px auto;
}

#inner {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.column {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.navbar-header img {
	height: 100px;
}

/*.column img {
	width: 100%;
}
*/

#search-container {
	text-align: center;
}

.location-bar {
	position: relative;
	margin: 0 auto;
	width: 50%;
}


