	<a href="#openModal">Edit</a>

	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<h1>Edit Profile</h1>

			<form action="/login" method="post">
				<div class="form-group">
				    <label name="title">Location</label>
				    <input type="text" class="form-control" name="location" value="" placeholder="Location">
				</div>

				<div class="form-group">
				    <label name="title">Handicap</label>
				    <input type="text" class="form-control" name="handicap" value="" placeholder="Handicap">
				</div>

			    <button type="submit" class="btn btn-default">Save Changes</button>
			</form>

	 	</div>
	</div>