<% if( game && game.length > 0) { %>
	<table>
		<tbody>
		<% for(var i=0; i < game.length; i++) { %>
		<tr>
		    <td>Group<%= i+1 %>&nbsp;</td>
		    		<td><%= game[i].user_ids %></td> 
			<td><a href="/group/add/<%= game[i].id %>" id="add">Add</a></td>

		</tr>
		<% } %>
		</tbody>
	</table>
<% } %>
