<% if( curr_user ){ %>

<h1>logged in user: <%= curr_user %></h1>
<a href="/logout">Log Out</a>


<% } else { %>

	<a href="/new">Register</a> <a href="/login">Login</a>

<% } %>
<% if( games && games.length > 0) { %>
	<table>
		<tbody>
		<% for(var i=0; i < games.length; i++) { %>
		<tr>
		    <td>Group<%= i+1 %>&nbsp;</td>
		    <td><%= games[i].id %></td>
		    <td><%= games[i].user_ids %></td>
		</tr>
		<% } %>
		</tbody>
	</table>
<% } %>