<% if( games && games.length > 0) { %>
	<table>
		<tbody>
		<% for(var i=0; i < games.length; i++) { %>
		<tr>
		    <td>Group<%= i+1 %>&nbsp;</td>
		    <td><%= games[i].id %></td>
		    <td><%= games[i].user_ids %></td>
		    <td><%= games[i].teetime %></td>
		</tr>
		<% } %>
		</tbody>
	</table>
<% } %>